*
!.bash_aliases
!.bash_logout
!.bash_profile
!.bashrc
!.editorconfig
!.gitconfig
!.gitignore
!.install
!.install.d
!.install.d/*
!.install.d/**
!.profile
!.profile.d
!.profile.d/*
!.profile.d/**
!.update
!.update.d
!.update.d/*
!.update.d/**
!.zlogin
!.zshrc
!Library
