/*
!/.atom/
!/.config/
!/.dotfiles/
!/.github/
!/.gnupg/
!/.editorconfig
!/.gitconfig
!/.gitignore
!/.hyper.js
!/.profile
!/.travis.yml
!/.zlogin
!/.zlogout
!/.zpreztorc
!/.zprofile
!/.zshenv
!/.zshrc
