[alias]
	amend = commit --amend --no-edit
	clean-merged-branches = ! git merged-branches | xargs git branch -d
	cleanup = ! git checkout master && git pull && git clean-merged-branches
	clone-branch = clone -b
	commit-message = "! git_commit_message() { d=\"${GIT_DATE-0}\"; shift 1; message=\"$@\"; git commit -m \"$message\" --date=\"$(date --date=\"$d day ago\")\"; }; git_commit_message"
	conflicts = ! atom $(git list-conflicts)
	current = ! source $HOME/.dotfiles/lib/colors.sh && source $HOME/.dotfiles/profile.d/git && git_current
	current-remote = ! git rev-parse --abbrev-ref --symbolic-full-name $(git current)@{u}
	diff-cached = diff --cached
	forked = ! git graph $(git current) $(git current-remote)
	graph = log --graph --pretty=friendly --color=always
	list-conflicts = diff --name-only --diff-filter=U
	merged-branches = ! git branch --merged | egrep -v '^\\*'
	new = ! git graph $(git current) --not $(git current-remote)
	old = ! git graph $(git current-remote) --not $(git current)
	push-all = ! source $HOME/.dotfiles/lib/colors.sh && source $HOME/.dotfiles/profile.d/git && git_push_all
	push-upstream = "! if git unique-remote >/dev/null; then git push --set-upstream \"$(git unique-remote)\" \"$(git current)\"; else echo \"Found multiple remotes: $(echo $(git remote) | sed 's/ /, /g')\"; exit 1; fi"
	renew = ! git rework $(git log --format=format:%H $(git current) --not $(git current-remote) | tail -n 1)
	renew-all = ! git renew && git push-all
	rework = ! source $HOME/.dotfiles/lib/colors.sh && source $HOME/.dotfiles/profile.d/git && git_rework
	show-files = show --name-only
	unique-remote = "! git_unique_remote() { remotes=\"$(git remote)\"; if [ \"$(echo \"$remotes\" | wc -l)\" = 1 ]; then echo \"$remotes\"; else return 1; fi; }; git_unique_remote"
[color "advice"]
	hint = black
[color "branch"]
	local = yellow
	remote = blue
	plain = magenta
	upstream = blue bold
[color "decorate"]
	branch = yellow
	HEAD = yellow dim
	remoteBranch = blue
	tag = magenta
[color "diff"]
	commit = blue
	context = normal
	frag = black
	func = black
	meta = blue
	whitespace = red reverse
[commit]
	gpgsign = true
[core]
	excludesfile = /Users/amercier/.dotfiles/extra/.gitignore_global
	pager = less -x1,5
[pretty]
	friendly = "\t%C(black)%h%C(reset) %<(64,trunc)%s %C(cyan)%>(10,trunc)%cr %C(dim white)%<(8,trunc)%aN%C(reset) %C(reset)%C(auto)%d%C(reset)"
[user]
	name = Alex Mercier
	email = pro.alexandre.mercier@gmail.com
	signingkey = A4A0BA9DE4FC1F8D
