"*":
  core:
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 13
    showInvisibles: true
  "exception-reporting":
    userId: "36449ad6-e838-443c-b68a-e71110c9bc12"
  "linter-phpcs": {}
  "linter-ui-default": {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "php-debug":
    currentPanelHeight: "268px"
    currentPanelMode: "bottom"
  "project-folder":
    gitProjectSearchMaxDepth: 2
    projectRootDirectories: [
      "~/Workspace"
    ]
  "project-quick-open":
    projectPaths: "~/Workspace"
  "travis-ci-status": {}
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
