"*":
  "atom-package-deps":
    ignored: [
      "linter-node-markdownlint"
    ]
  core:
    telemetryConsent: "no"
    useTreeSitterParsers: false
  docblockr:
    align_tags: "no"
    return_tag: "@returns"
    spacer_between_sections: "after_description"
  editor:
    fontSize: 12
    preferredLineLength: 100
    showInvisibles: true
  "exception-reporting":
    userId: "25d5cffc-2bba-4c39-9164-4166545e22f3"
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
      ".jsm"
      ".json"
      ".node"
    ]
  "language-dotenv":
    dotenvFileNames: [
      ".env"
      ".env.example"
    ]
  "linter-eslint":
    lintHtmlFiles: true
  "linter-node-markdownlint":
    disableIfNoMarkdownlintrc: true
  "linter-phpcs":
    codeStandardOrConfigFile: "PSR12"
  "linter-sass-lint":
    configFile: "node_modules/sass-lint/lib/config/sass-lint.yml"
    noConfigDisable: true
  "linter-shellcheck":
    enableNotice: true
    userParameters: "-e SC1071"
  "linter-ui-default":
    panelHeight: 500
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      showInStatusBar: true
    prettierEslintOptions: {}
    useEslint: true
    useStylelint: true
  "project-folder":
    gitProjectSearchMaxDepth: 1
    projectRootDirectories: [
      "~/Workspace"
      "~"
    ]
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".editorconfig.source":
  editor:
    preferredLineLength: 100
