"*":
  core:
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 12
    showInvisibles: true
  "exception-reporting":
    userId: "36449ad6-e838-443c-b68a-e71110c9bc12"
  "linter-ui-default":
    panelHeight: 283
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "project-quick-open":
    projectPaths: "~/Workspace"
  welcome:
    showOnStartup: false
