packages: [
  "auto-update-packages"
  "busy-signal"
  "docblockr"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "js-hyperclick"
  "language-applescript"
  "language-babel"
  "language-blade"
  "language-vue"
  "linter"
  "linter-eslint"
  "linter-jsonlint"
  "linter-node-markdownlint"
  "linter-phpcs"
  "linter-sass-lint"
  "linter-shellcheck"
  "linter-ui-default"
  "manage-packages"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "minimap-linter"
  "multi-cursor"
  "php-hyperclick"
  "project-folder"
  "sort-lines"
]
