packages: [
  "atom-debug-ui"
  "atom-ide-ui"
  "auto-update-packages"
  "busy-signal"
  "docblockr"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "ide-php"
  "ide-python"
  "ide-typescript"
  "intentions"
  "language-ansi-styles"
  "language-apache"
  "language-applescript"
  "language-blade"
  "language-groovy"
  "language-pug"
  "language-vue"
  "less-than-slash"
  "linter"
  "linter-eslint"
  "linter-jsonlint"
  "linter-node-markdownlint"
  "linter-phpcs"
  "linter-python"
  "linter-rubocop"
  "linter-sass-lint"
  "linter-shellcheck"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "minimap-linter"
  "monokai-seti"
  "multi-cursor"
  "package-sync"
  "php-debug"
  "pinned-tabs"
  "project-folder"
  "seti-ui"
  "sort-lines"
  "todo-show"
  "travis-ci-status"
]
