packages: [
  "atom-ide-ui"
  "auto-update-packages"
  "busy-signal"
  "docblockr"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "ide-php"
  "ide-typescript"
  "intentions"
  "language-apache"
  "language-blade"
  "less-than-slash"
  "linter"
  "linter-eslint"
  "linter-markdown"
  "linter-phpcs"
  "linter-rubocop"
  "linter-shellcheck"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "minimap-linter"
  "monokai-seti"
  "package-sync"
  "php-debug"
  "pinned-tabs"
  "project-quick-open"
  "seti-ui"
  "sort-lines"
  "todo-show"
  "travis-ci-status"
]
