# Bash settings
# =============

# Helper function that is meant to be called from __git_ps1.  It
# injects color codes into the appropriate gitstring variables used
# to build a gitstring.
__git_ps1_colorize_gitstring ()
{
  # Using \[ and \] around colors is necessary to prevent
  # issues with command line editing/browsing/completion!
  local c_clear='\[\e[0m\]'
  local c_red='\[\e[40;31m\]'
  local c_green='\[\e[40;32m\]'
  local c_yellow='\[\e[40;33m\]'
  local c_blue='\[\e[40;34m\]'
  local c_magenta='\[\e[40;35m\]'
  local c_lblack='\[\e[1;40;30m\]'
  local c_white='\[\e[40;37m\]'
  local c_lwhite='\[\e[1;40;37m\]'

  local ok_color=$c_green
  local bad_color=$c_red
  local untracked_color=$c_blue
  local flags_color=$c_yellow

  local branch_color=""
  if [ "$detached" = no ]; then
    branch_color="$ok_color"
  else
    branch_color="$bad_color"
  fi
  c="$branch_color$c"

  z="$c_clear$z"
  if [ "$w" = "*" ]; then
    w="$bad_color$w"
  fi
  if [ -n "$i" ]; then
    i="$ok_color$i"
  fi
  if [ -n "$s" ]; then
    s="$flags_color$s"
  fi
  if [ -n "$u" ]; then
    u="$untracked_color$u"
  fi
  r="$c_clear$r"
}

export TERM=xterm-color

export GIT_PS1_DESCRIBE_STYLE=branch
export GIT_PS1_SHOWCOLORHINTS=1
export GIT_PS1_SHOWDIRTYSTATE=1
export GIT_PS1_SHOWSTASHSTATE=1
export GIT_PS1_SHOWUNTRACKEDFILES=1
export GIT_PS1_SHOWUPSTREAM="verbose git"
export GIT_PS1_STATESEPARATOR=""

export PS1_HOST_COLOR=
# export PS1_HOST_COLOR=$COLOR_WHITE
# export PS1_HOST_COLOR=$COLOR_BLUE
# export PS1_HOST_COLOR=$COLOR_LIGHT_BLUE
# export PS1_HOST_COLOR=$COLOR_GREEN
# export PS1_HOST_COLOR=$COLOR_LIGHT_GREEN
# export PS1_HOST_COLOR=$COLOR_CYAN
# export PS1_HOST_COLOR=$COLOR_LIGHT_CYAN
# export PS1_HOST_COLOR=$COLOR_RED
# export PS1_HOST_COLOR=$COLOR_LIGHT_RED
# export PS1_HOST_COLOR=$COLOR_PURPLE
# export PS1_HOST_COLOR=$COLOR_LIGHT_PURPLE
# export PS1_HOST_COLOR=$COLOR_BROWN
# export PS1_HOST_COLOR=$COLOR_YELLOW
# export PS1_HOST_COLOR=$COLOR_GRAY
# export PS1_HOST_COLOR=$COLOR_LIGHT_GRAY

export PROMPT_COMMAND="__git_ps1 '[\u@$PS1_HOST_COLOR\h$COLOR_NC \[\033[0;36m\]\w\[\033[0m\] ' ']\$ ' '%s'"
