# Bash settings
# =============

# Source global definitions
if [ -f /etc/bashrc ]; then
  . /etc/bashrc
fi

# Source completion definitions
for i in /etc/bash_completion.d/*; do
  if [ -r "$i" ]; then
    if [ "$PS1" ]; then
      . "$i"
    else
      . "$i" >/dev/null
    fi
  fi
done

export TERM=xterm-color
export GREP_OPTIONS='--color=auto'
# export GREP_COLOR='1;32;40'
export GREP_COLORS='ms=01;31:mc=01;31:sl=:cx=:fn=35:ln=32:bn=32:se=36'

export GIT_PS1_DESCRIBE_STYLE=branch
export GIT_PS1_SHOWCOLORHINTS=1
export GIT_PS1_SHOWDIRTYSTATE=1
export GIT_PS1_SHOWSTASHSTATE=1
export GIT_PS1_SHOWUNTRACKEDFILES=1
export GIT_PS1_SHOWUPSTREAM="verbose git"
export GIT_PS1_STATESEPARATOR=""

# export PS1_HOST_COLOR=$COLOR_WHITE
# export PS1_HOST_COLOR=$COLOR_BLUE
# export PS1_HOST_COLOR=$COLOR_LIGHT_BLUE
# export PS1_HOST_COLOR=$COLOR_GREEN
# export PS1_HOST_COLOR=$COLOR_LIGHT_GREEN
# export PS1_HOST_COLOR=$COLOR_CYAN
# export PS1_HOST_COLOR=$COLOR_LIGHT_CYAN
# export PS1_HOST_COLOR=$COLOR_RED
# export PS1_HOST_COLOR=$COLOR_LIGHT_RED
# export PS1_HOST_COLOR=$COLOR_PURPLE
# export PS1_HOST_COLOR=$COLOR_LIGHT_PURPLE
# export PS1_HOST_COLOR=$COLOR_BROWN
# export PS1_HOST_COLOR=$COLOR_YELLOW
# export PS1_HOST_COLOR=$COLOR_GRAY
# export PS1_HOST_COLOR=$COLOR_LIGHT_GRAY

. /usr/share/git-core/contrib/completion/git-prompt.sh
export PROMPT_COMMAND="__git_ps1 '[\u@$PS1_HOST_COLOR\h$COLOR_NC \[\033[1;36m\]\w\[\033[0m\] ' ']\$ ' '%s'"
