# Node Version Manager
# https://github.com/creationix/nvm

export NVM_DIR="$HOME/.nvm"
[ -d "$NVM_DIR" ] || mkdir -p "$NVM_DIR"
. "$(brew --prefix nvm)/nvm.sh"
export PATH="$PATH:$NVM_DIR/current/bin"
export PATH="$PATH:./node_modules/.bin"
